
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main{
    padding: 1rem;
  }
  .custom-container {
    max-width: 1500px; 
    margin-left: auto;
    margin-right: auto;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  


  .single-product{
    text-align: center;
    width: 30%;
    margin: 1rem;
  }

  .product {
    border: 1px #404040 solid;
    margin: 1rem;
  }
  
  .product img {
    width: 100%;
    max-width: 400px;
  }

  .product p {

    color: #404040;
    font-size: 1rem;
  }
  .price{
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  
  .product-info{
    padding: 1rem;
  }

  .swal2-styled {
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    color: #721c24 !important;
  }

  .app-navbar {
    transition: background-color 0.3s ease-in-out;
  }
  
  .app-navbar.scrolled {
    background-color: #f8f9fa; /* Set your desired background color for scrolling */
  }